body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
 
  
    color: #777777;
    background: url("../images/full-bloom.png");
  }
  
  h1{
    padding: 0 15px 0 60px;
    color: #4aaaa5;
  }
/* Padding did not work on the left side of the image */
#profileimage {
  padding-left: 80px;
}
hr {
  margin: 0px 50px 0 50px;
}
/* could not style it properly Please help me understand the styling logic for bootstrape*/
.w-960 {
  width: 960px;
  background-color: white;
  height: 500px;
  border:2px solid hsl(0, 2%, 80%);
}
.navbar-brand{
  padding: 20px;
  background-color: #4aaaa5;
  color:White;
}
li .nav-link{
  color: #777777;
}
#name {
  padding: 100px;
}
#linestyle{
  border: 1px solid #bebdbd;
  
}
#footer {
    
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background: #666666;
    border-top: 8px solid #4aaaa5;
    height: 50px;
}

